<% include header %>

<div class="container-fluid text-center main-div">
	<h1>Server Demo<h1>
</div>

<div class="container-fluid text-center sensor-div">
	<div class="row">
		<div class="col-sm-3 sensor-1">
			<h2 class="sensor-1-ID">Sensor ID Place Holder<h2>
			<h3 class="sensor-1-current">Current Place Holder<h3>
			<h3 class="sensor-1-date">Date Place Holder<h3>
			<div class="progress">
  				<div class="progress-bar" id="sensor-1-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" 
  				style="width: 0%">
  				placeholder
  				</div>
			</div>

		</div>
		<div class="col-sm-3 sensor-2">
			<h2 class="sensor-2-ID">Sensor ID Place Holder<h2>
			<h3 class="sensor-2-current">Current Place Holder<h3>
			<h3 class="sensor-2-date">Date Place Holder<h3>
			<div class="progress">
  				<div class="progress-bar" id="sensor-2-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" 
  				style="width: 0%">
  				placeholder
  				</div>
			</div>
		</div>
		<div class="col-sm-3 sensor-3">
			<h2 class="sensor-3-ID">Sensor ID Place Holder<h2>
			<h3 class="sensor-3-current">Current Place Holder<h3>
			<h3 class="sensor-3-date">Date Place Holder<h3>
			<div class="progress">
  				<div class="progress-bar" id="sensor-3-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" 
  				style="width: 0%">
  				placeholder
  				</div>
			</div>
		</div>
		<div class="col-sm-3 sensor-4">
			<h2 class="sensor-4-ID">Sensor ID Place Holder<h2>
			<h3 class="sensor-4-current">Current Place Holder<h3>
			<h3 class="sensor-4-date">Date Place Holder<h3>
			<div class="progress">
  				<div class="progress-bar" id="sensor-4-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" 
  				style="width: 0%">
  				placeholder
  				</div>
			</div>
		</div>
		<div class="col-sm-3 sensor-5">
			<h2 class="sensor-5-ID">Sensor ID Place Holder<h2>
			<h3 class="sensor-5-current">Current Place Holder<h3>
			<h3 class="sensor-5-date">Date Place Holder<h3>
			<div class="progress">
  				<div class="progress-bar" id="sensor-5-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" 
  				style="width: 0%">
  				placeholder
  				</div>
			</div>

		</div>
		<div class="col-sm-3 sensor-6">
			<h2 class="sensor-6-ID">Sensor ID Place Holder<h2>
			<h3 class="sensor-6-current">Current Place Holder<h3>
			<h3 class="sensor-6-date">Date Place Holder<h3>
			<div class="progress">
  				<div class="progress-bar" id="sensor-6-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" 
  				style="width: 0%">
  				placeholder
  				</div>
			</div>
		</div>
		<div class="col-sm-3 sensor-7">
			<h2 class="sensor-7-ID">Sensor ID Place Holder<h2>
			<h3 class="sensor-7-current">Current Place Holder<h3>
			<h3 class="sensor-7-date">Date Place Holder<h3>
			<div class="progress">
  				<div class="progress-bar" id="sensor-7-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" 
  				style="width: 0%">
  				placeholder
  				</div>
			</div>
		</div>
		<div class="col-sm-3 sensor-8">
			<h2 class="sensor-8-ID">Sensor ID Place Holder<h2>
			<h3 class="sensor-8-current">Current Place Holder<h3>
			<h3 class="sensor-8-date">Date Place Holder<h3>
			<div class="progress">
  				<div class="progress-bar" id="sensor-8-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" 
  				style="width: 0%">
  				placeholder
  				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid text-center button-div">
	<button type="button" class="btn btn-default" id="toggle">Toggle Polling</button>
</div>
<script src="/public/js/main.js" charset="utf-8"></script>

<% include footer %>